<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/software/polkit/policyconfig-1.dtd">
<policyconfig>
  <vendor>Laravel Installer</vendor>
  <vendor_url>https://example.invalid</vendor_url>
  <icon_name>laravel-installer</icon_name>
  <action id="com.emre.laravel-installer.helper">
    <description>Run privileged Laravel Installer tasks</description>
    <message>Authentication is required to modify local web server settings.</message>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/lib/laravel-installer/laravel-installer-helper</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>
</policyconfig>
